@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 1px 1px 2px #9AEBA3;
}

main {
    padding: 16px;
    padding-bottom: 50px;
}

footer {
    position: absolute;
    bottom: auto;
    padding: 10px;
    border-color: 1px solid black;
    background-color: #DAFDBA;
    margin-left: 0;
    width: 97.5%;
}

img {
    height: 200px;
    width: 200px;
}

nav {
    background-color: #45C4B0;
    border-color: 1px solid black;
    padding: 20px;
    margin: 0;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #9AEBA3;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a {
    color: #012030;
}

.line {
    height: 1px;
    background: black;
}

tr:nth-child(even){
    background-color: azure;
}

tr:nth-child(odd){
    background-color: #DAFDBA;
}

li:nth-child(odd) span {
    background-color: #DAFDBA;
}

li:nth-child(even) span {
    background-color: azure;
}

table {
    table-layout: fixed;
}

a {
    animation-duration: 1s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-bottom: 100%;
      width: 200%;
    }

    75% {
      font-size: 150%;
      margin-bottom: 25%;
      width: 100%;
    }

    to {
      margin-bottom: 0%;
      width: 100%;
    }
  }
